@import url("https://fonts.googleapis.com/css?family=Raleway:300,600");
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
  background-color: #f5f8fa;
  color: #212529;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.vid_container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.vid_container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.btn-primary{
  position: relative;
  float:right;
  font-size: 18px;
  bottom: 90px;
  left: 70px;
  box-shadow: 2px 2px #00008B;
}

.btn-primary.two{
  position: relative;
  float:right;
  font-size: 18px;
  bottom: 60px;
  left: 70px;
}

.btn-danger.three{
  position: relative;
  float:right;
  font-size: 18px;
  bottom: 60px;
  left: 74px;
}

.btn-danger.four{
  position: relative;
  float:right;
  font-size: 18px;
  bottom: 90px;
  left: 74px;
}

.btn-warning{
  top: 5.5px;
  margin-left: 25px;
  height: 35px;
  width: 90px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px #B8860B;
}

.btn-info{
  margin-top: 4px;
  position: relative;
}

.btn-info.two{
  width: 50%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
.cf h2  {float:left;}

h4 {
  font-weight: bold;
}

h2{
  text-decoration: underline;
}
.card{
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row.replies{
  width: 113%;
}

.card.my-34{
  background-color: #d9d9d9;
  margin-left: auto;
  width: auto;
  margin-bottom: 10px;
  position: relative;
}

.container.replies{
  margin-left: 15px;
}

.card.my-3{
  width: auto;
}

.btn-danger.two{
  top: 5.5px;
  margin-left: 25px;
  height: 35px;
  width: 90px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px #8B0000;
}

.btn-danger{
  position: relative;
  box-shadow: 2px 2px #8B0000;
}

.pic{
  margin-top: 5px;
  margin-right: 8px;
  float:left;
  height: auto;
  position: relative;
}

.card-body.edits{
  z-index: 10 !important;
  background-color: #BC8F8F !important;
}

.edit-box{
  margin-right: 150px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 23px;
  position: relative;
}

.form-control.body{

  height: 100px;

}

.form-control.reply{

  height: 100px;

}

.card-body.small{
}

.cf.edits{
  position: relative;
}


.edit-wheel{
  position: absolute;
  right: 0px;
}

p{
  position: relative;
  top: 9px;
  left: 5px;
  font-style: italic;
  font-size: 17px;
}

p2{
  position: relative;
  top: 9px;
  left: 5px;
  font-style: italic;
  font-size: 15.1px;
}

h5{
  text-align: right;
  margin-right: 40px;
  margin-top: 6px;
  font-weight: 550;
  font-size: 17px;
}

.error{
  font-weight: bold;
  font-size: 13px;
  color: red;
}

