@layout('main')
@section('content')
  <h3> Group 4 - Adam, Alex, Ryan </h3>
<body>
<div id="like_button_container"></div>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="../../like_button.js"></script>
</body>
@endsection
